<div class="contenedor">
    <div class="header">
        <header>
            <!--HACER QUE CAMBIE EL TITULO "SALDO/INTERCAMBIO/VENDER"-->
            <h1 class="header-titulo" id="tituloP">SALDO</h1>
        </header>
    </div>