body{
    margin: 0;
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
}
div.contenedor{
    width: 100%;
    background-color: #302070;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "header header header header"
                        "form form form form"
                        "footer footer footer footer";
}
span{
    font-weight: bold;
    top: -18px;
    position: relative;
}
div .header-titulo{
    font-size: 5rem;
}
div .usuario{
    position: relative;
    left: 440px;
}
div.header{
    background-color: cadetblue;
    grid-area: header;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: green;
}
div .caja-form{
    margin: 10px;
    grid-area: form;
}
form{
    width: 35%;
    margin: auto;
    background-color: #00cc99;
    padding: 10px 20px;
    /*colocando esto hace que tome los 40px del padding en los 450px de ancho*/
    box-sizing: border-box;
    border-radius: 4px;
    
}
div .footer{
    background-color: cadetblue;
    height: 30px;
    grid-area: footer;
}
.footer span{
    display: flex;
    justify-content: center;
    position: relative;
    top: 6px;
}
form:hover{
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
#boton{
    background-color: royalblue;
    color: #fff;
    border-color: rgb(73, 63, 211);
}
#boton:hover{
    background-color: rgba(65, 105, 255, .4);
    cursor: pointer;
}
