@import "general.css";
@import "footer.css";
@import "header.css";
div.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "header header header header"
                        "form form form form"
                        "footer footer footer footer";
}

div .caja-formulario{
    margin: 10px;
    grid-area: form;
    height: 763px;
    margin-top: 15px;
}
form{
    width: 35%;
    margin: auto;
    background-color: rgba(41, 48, 57,0.8);
    padding: 10px 20px;
    /*colocando esto hace que tome los 40px del padding en los 450px de ancho*/
    box-sizing: border-box;
    border-radius: 4px;    
}
form:hover{
    box-shadow: 2px 2px 5px 1px rgba(177, 177, 177, 0.9);
}
div .titulo-form{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline 5px;
    text-decoration-color: green;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
#boton{
    background-color: royalblue;
    color: #fff;
    border-color: rgb(73, 63, 211);
}
#boton:hover{
    background-color: rgba(65, 105, 255, .4);
    cursor: pointer;
}
span{
    font-weight: bold;
    top: -18px;
    position: relative;
}