*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #302070;
  font-family: 'Roboto Slab', serif;
  /*background-image: url('../img/dolar-bitcoin.jpeg');*/
  /*nuevo*/
  background: url('../img/dolar-bitcoin.jpeg') no-repeat center center fixed; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 920px;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  color: #fff;
}
div .title-usuario{
  font-size: x-large;
  color: white;
}
div .dropdown{
  float: right;
  padding-right: 140px;
  bottom: 85px;
  cursor: pointer;
}
div .dropdown-contenido{
  display: none;
  position: absolute;
  background-color: #2d8259;
  min-width: 140px;
  padding: 12px 16px;
  z-index: 1;
}
div .dropdown:hover .dropdown-contenido{
  box-shadow:  0px 8px 16px 0px rgba(41, 48, 57,0.8);
  display: block;
}
div.header{
  background-color:rgb(43, 128, 87);
  /*background-color: rgba(41, 48, 57,0.8);/*nuevo*/
  grid-area: header;
  height: 150px;
  
  margin-bottom: 80px;
}
div.header img{
  height: 150px;
  width: 35%;
  margin: auto;
}