@import "general.css";
@import "footer.css";
@import "header.css";
div.contenedor{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: "header header header header"
                      "caja-cambio caja-cambio caja-info caja-info"
                      "mas-info mas-info mas-info mas-info" 
                      "footer footer footer footer";
}
div.caja-cambio{
  grid-area: caja-cambio;
  height: 300px;
  margin: 30px;
}
div.caja-cambio form{
  padding: 20px;
  background-color: rgba(41, 48, 57,0.8);
}
div.caja-cambio .caja-input{
  width: 100%;
}
div input,select{
  font-weight: 900;
  text-align: end;
  height: 110px;
  width: 49%;
}
div .btn{
  margin-top: 10px;
  height: 40px;
  width: 99%;
}

div.caja-info{
  background-color: rgba(41, 48, 57,0.8);
  grid-area: caja-info;
  height: 310px;
  margin:30px;
}
div .info-compra{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 30px;
  text-decoration: underline 11px;
  text-decoration-color: green;
}
div ol{
  margin: 20px;
  padding-left: 30px;
  margin-top: 10px;
}
div li{
  color: #fff;
  padding: 20px;
  font-size: 18px;
  text-decoration: underline 3px;
  text-decoration-color: green;
}
li::marker{
  font-weight: 900;
  color: #fff;
}
div .mas-info{
  height: 350px;
  grid-area: mas-info;
}
