*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #302070;
  font-family: 'Roboto Slab', serif;
}
div.contenedor{
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: "header header header header"
                      "caja-cambio caja-cambio caja-info caja-info"
                      "footer footer footer footer";
}
div .header-titulo{
  font-size: 5rem;
}
div .usuario{
  position: relative;
  left: 440px;
}
div.header{
  background-color: cadetblue;
  grid-area: header;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: green;
}
div.caja-cambio{
  background-color: chocolate;
  grid-area: caja-cambio;
  height: 300px;
  margin: 30px;
}
div.caja-cambio form{
  padding: 20px;
}
div.caja-cambio .caja-input{
  width: 100%;
}
div input,select{
  font-weight: 900;
  text-align: end;
  height: 110px;
  width: 49%;
}
div .btn{
  margin-top: 10px;
  height: 40px;
  width: 99%;
}

div.caja-info{
  background-color: crimson;
  grid-area: caja-info;
  height: 300px;
  margin:30px;
}
div .info-compra{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 30px;
}
div ol{
  margin: 20px;
  padding-left: 30px;
  margin-top: 10px;
}
div li{
  padding: 20px;
}
li::marker{
  font-weight: 900;
  color: blue;
}
div .footer{
  background-color: cadetblue;
  height: 30px;
  grid-area: footer;
}
.footer span{
  display: flex;
  justify-content: center;
  position: relative;
  top: 6px;
}