@import "general.css";
@import "footer.css";
div.contenedor{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "header header header header"
                        "form form form form"
                        "footer footer footer footer";
}
div .header-titulo{
    font-size: 5rem;
}
div .usuario{
    position: relative;
    left: 440px;
}
div.header{
    background-color: rgba(41, 48, 57,0.8);
    grid-area: header;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: green;
    margin-bottom: 80px;
}
div .caja-usuario{
    margin: 10px;
    grid-area: form;
    height: 600px;
    margin-top: 15px;
}
form{
    width: 35%;
    margin: auto;
    background-color: rgba(41, 48, 57,0.8);
    padding: 10px 20px;
    /*colocando esto hace que tome los 40px del padding en los 450px de ancho*/
    box-sizing: border-box;
    border-radius: 4px;
}
label{
    padding-bottom: 3px;
}   
form:hover{
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}
#boton{
    background-color: royalblue;
    color: #fff;
    width: 100%;
    border-color: rgb(73, 63, 211);
}
#boton:hover{
    background-color: rgba(65, 105, 255, .4);
    cursor: pointer;
}
small{
    position: relative;
    top: -18px;
    font-weight: 700;
}
#errorSubmit{
    top: -2px;
}
div .fa-key:before, .fa-user:before{
    color: #fff;
}