<!--HEAD MODULARIZADO-->
<%- include('./partials/head.ejs')%>
    <!--HEADER MODULARIZADO-->
    <%- include('./partials/header.ejs')%>
        <div class="caja-form">
            <form action="" method="POST">
                <div class="caja-form">
                    <h2>¡Llena tu formulario para hacer tu pedido!</h2>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Nombre y apellido">
                    <span class="text-danger" id="errorNombre"></span>

                    <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico">
                    <span class="text-danger" id="errorEmail"></span>

                    <input type="number" name="numero" id="numero" class="form-control"
                        placeholder="Número de Whatsapp">
                    <span class="text-danger" id="errorNumero"></span>

                    <input type="submit" class="btn btn-primary" value="Hace tu pedido" id="boton"></input>
                    <span class="text-danger" id="errorSubmit"></span>
                </div>
            </form>
        </div>
        <%- include('./partials/footer.ejs') %>