<div id="caja-formulario" class="caja-formulario">
    <form id="formulario" action="" method="POST">
        <div class="caja-form">
            <h2 class="titulo-form">¡Llena tu formulario para hacer tu pedido!</h2>
            <input type="text" name="name" id="name" class="form-control" placeholder="Nombre y apellido">
            <span class="text-danger" id="errorNombre"></span>

            <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico">
            <span class="text-danger" id="errorEmail"></span>

            <input type="text" name="numero" id="numero" class="form-control" placeholder="Número de Whatsapp">
            <span class="text-danger" id="errorNumero"></span>

            <input type="text" name="adicional" id="adicional" class="form-control">
            <br>

                <input type="checkbox" name="accept" id="accept"><small> Acepto enviar documentación que acredite mi
                    identidad si me es requerido.</small>

            <input type="button" class="btn btn-primary" value="Hace tu pedido" id="boton"></input>
            <span class="text-danger" id="errorSubmit"></span>
        </div>
    </form>
</div>